/docs/summary-uta.synctex.gz
/docs/internship-report.synctex.gz
/docs/title.txt
/docs/exercices/analyzing-choice-transportation/analyzing-choice-transportation.synctex.gz
/docs/exercices/buying-new-car/buying-new-car.synctex.gz
/src/objs/*
/uta-calculator/target